@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap");
.w100_Kd {
  width: 100%;
}

.w30_Kd {
  width: 30%;
}

h1 {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 3.5em;
  text-align: center;
}
@media (max-width: 991px) {
  h1 {
    font-size: 2em;
    text-align: center;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.125em;
}

.thinTitle {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1.375em;
}

.emphasisText {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.375em;
}

.boldTitle-2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.25em;
}

.thinTitle-4 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1.875em;
}

#inicioText {
  font-family: "Inter", sans-serif;
  color: #8ED7C2;
}

.btn_Kd, .btnGreen_Kd, .btnNar-sm_Kd, .btnNaranja_Kd {
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.125em;
  text-decoration: none;
}

.btnNaranja_Kd {
  border-color: #FFA17A;
  padding: 10px 80px;
  color: #FFA17A;
}
.btnNaranja_Kd:hover {
  background-color: #FFA17A;
  color: #FFFFFF;
  transition-delay: 150ms;
}

.btnNar-sm_Kd {
  border-color: #FFA17A;
  padding: 10px 60px;
  color: #FFA17A;
}
.btnNar-sm_Kd:hover {
  background-color: #FFA17A;
  color: #FFFFFF;
  transition-delay: 150ms;
}

.btnGreen_Kd {
  background-color: #1A5257;
  color: #FFFFFF;
}

.block {
  display: block;
  text-decoration: none;
}

.header nav {
  background-color: rgba(53, 122, 115, 0.2);
}
.header nav p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  color: #0A2D3A;
  display: inline-block;
}
.header nav a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  color: #0A2D3A;
  text-decoration: none;
}
.header nav button.btn {
  font-family: "Inter", sans-serif;
}
.header section {
  background-color: #357A73;
  padding: 4%;
}

.footer {
  background-color: #357A73;
}
.footer div {
  display: inline-block;
  margin-right: 100px;
}
.footer div a, .footer div p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #FFFFFF;
}
.footer div h5 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1em;
  color: #FFFFFF;
}
.footer div img.me-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 991px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer img.mt-3 {
    width: 80px;
    height: 80px;
  }
}

#productos img {
  width: 90px;
  height: 90px;
}
#productos li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.125em;
}

#contacto h2 {
  text-align: center;
}
@media (max-width: 991px) {
  #contacto h2 {
    font-size: 1.375em;
  }
}
#contacto p {
  text-align: center;
}
@media (max-width: 991px) {
  #contacto p {
    font-size: 1.25em;
  }
}
#contacto form {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  border-color: #D9D9D9;
  width: 710px;
  height: auto;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  #contacto form {
    width: 348px;
  }
}
#contacto form div {
  margin: 0 auto;
}
#contacto form div label {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.125em;
}
#contacto form div input {
  border-style: solid;
  border-radius: 3px;
  border-color: #D9D9D9;
  width: 435px;
  height: 40px;
}
@media (max-width: 991px) {
  #contacto form div input {
    width: 308px;
  }
}
#contacto form div textarea {
  border-style: solid;
  border-radius: 3px;
  border-color: #D9D9D9;
  width: 435px;
}
@media (max-width: 991px) {
  #contacto form div textarea {
    width: 308px;
  }
}

#casosExito section {
  display: flex;
  flex-direction: row;
  padding: 5%;
}
@media (max-width: 991px) {
  #casosExito section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #casosExito section .grid-casos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "title" "texto" "video" "subtitulo" "btn";
  }
  #casosExito section h3, #casosExito section a {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
#casosExito section div {
  margin: 2%;
}
@media (max-width: 991px) {
  #casosExito section div h2 {
    font-size: 1.375em;
  }
}
#casosExito section div video {
  width: 450px;
  height: 280px;
  border-radius: 12px;
}
@media (max-width: 991px) {
  #casosExito section div video {
    width: 100%;
    height: auto;
  }
}

.grid-casos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "title" "texto" "video" "subtitulo" "btn";
}

.gridTitle {
  grid-area: title;
}

.gridText {
  grid-area: texto;
}

.gridVideo {
  grid-area: video;
}

.gridSubtitle {
  grid-area: subtitulo;
}

.gridBtn {
  grid-area: btn;
}

.inicio section {
  display: flex;
  flex-direction: row;
  padding: 5%;
}
.inicio section div {
  margin: 2%;
}
.inicio section div img {
  width: auto;
  height: auto;
  border-radius: 12px;
}/*# sourceMappingURL=main.css.map */