
//productos
#productos{
    img{
        width: 90px;
        height: 90px;
    }
    li{
        margin: 0 auto;
        font-family: $mainFont;
        font-weight: $regularText;
        font-size: $normiText;
    }
}


//contacto
#contacto{
    h2{
        text-align: center;
        @include responsive(mobile){
            font-size: $mdText2;
        }
    }
    p{
        text-align: center;
        @include responsive(mobile){
            font-size: $mdText;
        }
    }
    form{
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        border-color: $lineC;
        width: 710px;
        height: auto;
        margin: 0 auto;
        padding: 2%;
        display: flex;
        justify-content: center;
        @include responsive(mobile){
            width: 348px;
        }
        div{
            margin: 0 auto;
            label{
                font-family: $mainFont;
                font-weight: $lightText;
                font-size: $normiText;
            }
            input{
                border-style: solid;
                border-radius: 3px;
                border-color: $lineC;
                width: 435px;
                height: 40px;
                @include responsive(mobile){
                    width: 308px;
                }
            }
            textarea{
                border-style: solid;
                border-radius: 3px;
                border-color: $lineC;
                width: 435px;
                @include responsive(mobile){
                    width: 308px;
                } 
            }
        }    
    }     
}

//casos-exito
#casosExito{
    section{
        display: flex;
        flex-direction: row;
        padding: 5%;
        div{
            margin: 2%;
            h2{
                @include responsive(mobile){
                    font-size: $mdText2;
                }
            }
            video{
                width: 450px;
                height: 280px;
                border-radius: 12px;
                @include responsive(mobile){
                    width: 100%;
                    height: auto;

                }
            }
        }
        @include responsive(mobile){
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3,a{
                text-align: center;
                display: flex;
                justify-content: center;
            }
            div.video{
                order: 1;
            }
            div.text{
                order: 2;
            }
        }
    }
}


//index
#inicio{
    section{
        display: flex;
        flex-direction: row;
        padding: 5%;
        div{
            margin: 2%;
            img{
                width: auto;
                height: auto;
                border-radius: 12px;
                @include responsive(mobile){
                    width: 260;
                    height: 240;
                }
            }
        }
        @include responsive(mobile){
            display: flex;
            flex-direction: column;
            div.text{
                order: 1;
            }
            div.img{
                order: 2;
            }
            h3{
                font-size: $mdText2;
            }
        }
    }
    div.medida{
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            margin: 0 auto;
        }
        @include responsive(mobile){
            h2{
                font-size: $mdText2;
            }
        }
    }
}

.format{
    display: flex;
    flex-direction: row;
    padding: 5%;
    div{
        margin: 2%;
        img{
            width: auto;
            height: auto;
            border-radius: 12px;
            @include responsive(mobile){
                width: 260;
                height: 240;
            }
        }
    }
}