//variables globales

//colores
$mainColor:#357A73;
$secondaryC:#8ED7C2;
$terciaryC:rgba(53, 122, 115, 0.2);
$fourthC:#1A5257;
$mainC-letter:#FFFFFF;
$secondaryC-letter:#0A2D3A;
$contrastC:#FFA17A;
$lineC:#D9D9D9;

//font-family
$mainFont:'Inter', sans-serif;

//font-weight
$thinText:100;
$xlightText:200;
$lightText:300;
$regularText:400;
$mediumText:500;
$boldText:700;

//font-size
$smText:1em; //16px
$normiText:1.125em; //18px
$mdText:1.25em; //20px
$mdText2:1.375em; //22px
$lgText:1.875em; //30px
$lgText2:2em; //32px
$xlText:2.375em; //38px
$xxlText:3.5em; // 56px
